.mainContainer {
  flex: 1;
  color: #fff;
  padding-bottom: 17px;
}

.container {
  padding: 0px 33px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}

/* Cards */
.cardsRow {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.bigCard {
  flex: 1;
  background: #fff;
  color: #111;
  border-radius: 16px;
  padding: 20px 28px;
  height: 148px;
}

.card {
  width: 100%;
  max-width: 316px;
  background: #fff;
  color: #111;
  border-radius: 16px;
  padding: 11px 18px;
  height: 148px;
}

.cardTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 18px;
  color: #292929;
}

.metrics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.innerMatric {
  display: flex;
  align-items: center;
  gap: 32px;
}

.innerSummery {
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-items: center;
  justify-content: center;
  max-width: 113px;
}

.summeryTitle {
  margin-bottom: 11px;
}

.metricValue {
  font-size: 16px;
  font-weight: 600;
  color: #111;
}

.metricLabel {
  font-size: 14px;
  color: #555;
  text-align: center;
}

.chartContainer {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.topProduct {
  width: 100%;
  max-width: 316px;
  height: 600px;
}

@media (max-width: 1279px) {
  .container {
    padding: 0px 15px;
  }

  .card {
    max-width: 290px;
  }

  .hidden {
    display: none;
  }
}

@media (max-width: 1024px) {
  .bigCard {
    height: auto;
  }

  .container {
    flex-direction: column-reverse;
  }

  .mainContainer {
    padding-bottom: 93px;
  }
}
