.card {
  background: #fff;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 16px;
  color: #111;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.title {
  font-size: 18px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #383e49;
  padding-left: 25px;
}

.addBtn {
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  background: #242531;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  width: 116px;
  height: 40px;
  margin-right: 10px;
  font-family: "Inter", sans-serif;
  position: static;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #9b9999;
  height: 50px;
}

.table th {
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  font-family: "Inter", sans-serif;
  background-color: #b6b9cf;
  color: black;
  text-align: left;
  padding-left: 70px;
}

.table td {
  padding: 10px;
  padding-left: 70px;
  font-size: 14px;
  border-bottom: 1px solid #f0f0f0;
  font-family: "Inter", sans-serif;
  color: #48505e;
  font-weight: 500;
}

.status {
  font-weight: 500;
}

.inStock {
  color: green !important;
}

.outOfStock {
  color: red !important;
}

.lowStock {
  color: orange !important;
}

.footer {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paginationBtn {
  padding: 6px 12px;
  border: 1px solid #d0d3d9;
  border-radius: 4px;
  background: #f9f9f9;
  cursor: pointer;
  height: 38px;
  font-size: 14px;
  margin-left: 15px;
  margin-right: 15px;
  color: #48505e;
}

.paginationBtn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pageCoute {
  color: #48505e;
  font-size: 14px;
}

.iIcon {
  display: none;
}

@media (max-width: 1300px) {
  .table th,
  .table td {
    padding-left: 55px;
  }
}

@media (max-width: 1279px) {
  .card {
    position: relative;
  }

  .hideOnSmall {
    display: none;
  }

  .table th,
  .table td {
    padding-left: 45px;
  }

  .iIconContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .iIcon {
    display: block;
    height: 16px;
    padding-right: 11px;
  }
}

@media (max-width: 768px) {
  .addBtn {
    position: fixed;
    bottom: 125px;
    right: 35px;
    z-index: 10;
  }
}
